<template lang="pug">
  main.flex_item-f1.margin_top-500
    h2 New tale
    form.flex.flex-wrap
      .flex_item-f1.margin_top-250.margin_bottom-250.margin_left-250.margin_right-250
        label(for="cover")
          h5 Tale cover
        .margin_top-050.position-relative
          input.opacity-000.position-absolute.position-top-000.position-left-000.width-100prc.height-100prc(type="file" @change="onFileSelected" name="cover" accept="image/png, image/jpeg")
          BaseCoverPage(:image="imagePreview" preview big)
      .flex_item-f2.margin_top-250.margin_bottom-250.margin_left-250.margin_right-250
        .flex.flex-column
          label(for="title")
            h5 Title
          input.margin_top-050(type="text" name="title" v-model="title")
          label.margin_top-200(for="description")
            h5 Description
          textarea.margin_top-050(name="description" v-model="description")
          BaseButton.margin_top-200(:event="submit" text="Create tale" form)
</template>

<script>
import Strapi from 'strapi-sdk-javascript/build/main';
import BaseButton from '../../components/base/BaseButton.vue';
import BaseCoverPage from '../../components/base/BaseCoverPage.vue';
// import { validationMixin } from 'vuelidate';

const strapi = new Strapi(process.env.apiUrl);

export default {
  middleware: 'auth',
  layout: 'noNav',
  components: {
    BaseButton,
    BaseCoverPage,
  },
  data() {
    return {
      title: null,
      description: null,
      file: '',
      showPreview: false,
      imagePreview: '',
    };
  },
  methods: {
    onFileSelected(event) {
      // eslint-disable-next-line
      this.file = event.target.files[0];
      const reader = new FileReader();
      reader.addEventListener(
        'load',
        () => {
          this.showPreview = true;
          this.imagePreview = reader.result;
        },
        false,
      );
      if (this.file) {
        if (/\.(jpe?g|png)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
        }
      }
    },
    async submit() {
      const form = new FormData();
      form.append('files', this.file);
      const files = await strapi.upload(form, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      });
      strapi.request('post', 'graphql', {
        data: {
          query: `mutation {
                    createTale(input: {
                      data: {
                        title: "${this.title}",
                        user: ${this.$auth.user.id},
                        hypertale: false,
                        description: "${this.description}",
                        completed: false,
                        language: spanish,
                        age: everyone,
                        image: ${files[0].id},
                        meta: {
                          tags: ["foo", "bar"]
                        }
                      }
                    }) {
                      tale {
                        title
                        user {
                          id
                        }
                        hypertale
                        description
                        completed
                        language
                        age
                        meta
                      }
                    }
                  }`,
        },
      });
      this.$router.push('/');
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
