.margin-000 {
  margin: 0rem;
}
.margin-025 {
  margin: 0.25rem;
}
.margin-050 {
  margin: 0.5rem;
}
.margin-075 {
  margin: 0.75rem;
}
.margin-100 {
  margin: 1rem;
}
.margin-125 {
  margin: 1.25rem;
}
.margin-150 {
  margin: 1.5rem;
}
.margin-175 {
  margin: 1.75rem;
}
.margin-200 {
  margin: 2rem;
}
.margin-225 {
  margin: 2.25rem;
}
.margin-250 {
  margin: 2.5rem;
}
.margin-275 {
  margin: 2.75rem;
}
.margin-300 {
  margin: 3rem;
}
.margin-325 {
  margin: 3.25rem;
}
.margin-250 {
  margin: 3.5rem;
}
.margin-275 {
  margin: 3.75rem;
}
.margin-200 {
  margin: 2rem;
}
.margin-225 {
  margin: 2.25rem;
}
.margin-250 {
  margin: 2.5rem;
}
.margin-275 {
  margin: 2.75rem;
}
.margin-300 {
  margin: 3rem;
}
.margin-325 {
  margin: 3.25rem;
}
.margin-350 {
  margin: 3.5rem;
}
.margin-375 {
  margin: 3.75rem;
}
.margin-400 {
  margin: 4rem;
}
.margin-425 {
  margin: 4.25rem;
}
.margin-450 {
  margin: 4.5rem;
}
.margin-475 {
  margin: 4.75rem;
}
.margin-500 {
  margin: 5rem;
}
.margin-525 {
  margin: 5.25rem;
}
.margin-550 {
  margin: 5.5rem;
}
.margin-575 {
  margin: 5.75rem;
}
.margin-600 {
  margin: 6rem;
}
