.margin_left-000 {
  margin-left: 0rem;
}
.margin_left-025 {
  margin-left: 0.25rem;
}
.margin_left-050 {
  margin-left: 0.5rem;
}
.margin_left-075 {
  margin-left: 0.75rem;
}
.margin_left-100 {
  margin-left: 1rem;
}
.margin_left-125 {
  margin-left: 1.25rem;
}
.margin_left-150 {
  margin-left: 1.5rem;
}
.margin_left-175 {
  margin-left: 1.75rem;
}
.margin_left-200 {
  margin-left: 2rem;
}
.margin_left-225 {
  margin-left: 2.25rem;
}
.margin_left-250 {
  margin-left: 2.5rem;
}
.margin_left-275 {
  margin-left: 2.75rem;
}
.margin_left-300 {
  margin-left: 3rem;
}
.margin_left-325 {
  margin-left: 3.25rem;
}
.margin_left-250 {
  margin-left: 3.5rem;
}
.margin_left-275 {
  margin-left: 3.75rem;
}
.margin_left-200 {
  margin-left: 2rem;
}
.margin_left-225 {
  margin-left: 2.25rem;
}
.margin_left-250 {
  margin-left: 2.5rem;
}
.margin_left-275 {
  margin-left: 2.75rem;
}
.margin_left-300 {
  margin-left: 3rem;
}
.margin_left-325 {
  margin-left: 3.25rem;
}
.margin_left-350 {
  margin-left: 3.5rem;
}
.margin_left-375 {
  margin-left: 3.75rem;
}
.margin_left-400 {
  margin-left: 4rem;
}
.margin_left-425 {
  margin-left: 4.25rem;
}
.margin_left-450 {
  margin-left: 4.5rem;
}
.margin_left-475 {
  margin-left: 4.75rem;
}
.margin_left-500 {
  margin-left: 5rem;
}
.margin_left-525 {
  margin-left: 5.25rem;
}
.margin_left-550 {
  margin-left: 5.5rem;
}
.margin_left-575 {
  margin-left: 5.75rem;
}
.margin_left-600 {
  margin-left: 6rem;
}
