.button-logo, .button-logo > svg{
  width: 45px;
  height: 45px;
}

.button-big.button-icon, .button-big.button-icon > svg{
  width: 30px;
  height: 30px;
}

.button-small.button-icon, .button-small.button-icon > svg{
  width: 20px;
  height: 20px;
}