.padding_right-000 {
  padding-right: 0rem;
}
.padding_right-025 {
  padding-right: 0.25rem;
}
.padding_right-050 {
  padding-right: 0.5rem;
}
.padding_right-075 {
  padding-right: 0.75rem;
}
.padding_right-100 {
  padding-right: 1rem;
}
.padding_right-125 {
  padding-right: 1.25rem;
}
.padding_right-150 {
  padding-right: 1.5rem;
}
.padding_right-175 {
  padding-right: 1.75rem;
}
.padding_right-200 {
  padding-right: 2rem;
}
.padding_right-225 {
  padding-right: 2.25rem;
}
.padding_right-250 {
  padding-right: 2.5rem;
}
.padding_right-275 {
  padding-right: 2.75rem;
}
.padding_right-300 {
  padding-right: 3rem;
}
.padding_right-325 {
  padding-right: 3.25rem;
}
.padding_right-250 {
  padding-right: 3.5rem;
}
.padding_right-275 {
  padding-right: 3.75rem;
}
.padding_right-200 {
  padding-right: 2rem;
}
.padding_right-225 {
  padding-right: 2.25rem;
}
.padding_right-250 {
  padding-right: 2.5rem;
}
.padding_right-275 {
  padding-right: 2.75rem;
}
.padding_right-300 {
  padding-right: 3rem;
}
.padding_right-325 {
  padding-right: 3.25rem;
}
.padding_right-350 {
  padding-right: 3.5rem;
}
.padding_right-375 {
  padding-right: 3.75rem;
}
.padding_right-400 {
  padding-right: 4rem;
}
.padding_right-425 {
  padding-right: 4.25rem;
}
.padding_right-450 {
  padding-right: 4.5rem;
}
.padding_right-475 {
  padding-right: 4.75rem;
}
.padding_right-500 {
  padding-right: 5rem;
}
.padding_right-525 {
  padding-right: 5.25rem;
}
.padding_right-550 {
  padding-right: 5.5rem;
}
.padding_right-575 {
  padding-right: 5.75rem;
}
.padding_right-600 {
  padding-right: 6rem;
}
