.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.opacity-000 {
  opacity: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-top-000 {
  top: 0;
}

.position-left-000 {
  left: 0;
}

.position-bottom-000 {
  bottom: 0;
}

.position-right-000 {
  right: 0;
}

.position-top-050 {
  top: 50%;
}

.position-left-050 {
  left: 50%;
}

.position-bottom-050 {
  bottom: 50%;
}

.position-right-050 {
  right: 50%;
}

.width-100prc {
  width: 100%;
}

.height-100prc {
  height: 100%;
}

.width-100vw {
  width: 100vw;
}

.height-100vh {
  height: 100vh;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}