.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-pinkred {
  background-color: $pinkred;
}
.bg-grey {
  background-color: $grey;
}
.bg-turquoise {
  background-color: $turquoise;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $blue;
}
.bg-red {
  background-color: $red;
}
.bg-pureblack {
  background-color: $pureblack;
}
.bg-transparent {
  background-color: transparent;
}
.bg-current {
  background-color: currentColor;
}
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}
.text-pinkred {
  color: $pinkred;
}
.text-grey {
  color: $grey;
}
.text-turquoise {
  color: $turquoise;
}
.text-green {
  color: $green;
}
.text-blue {
  color: $blue;
}
.text-red {
  color: $red;
}
.text-pureblack {
  color: $pureblack;
}
.text-current {
  color: currentColor;
}
