.text-weight-100 {
    font-weight: 100;
}
.text-weight-200 {
    font-weight: 200;
}
.text-weight-300 {
    font-weight: 300;
}
.text-weight-400 {
    font-weight: 400;
}
.text-weight-500 {
    font-weight: 500;
}
.text-weight-600 {
    font-weight: 600;
}
.text-weight-700 {
    font-weight: 700;
}
.text-weight-800 {
    font-weight: 800;
}
.text-weight-900 {
    font-weight: 900;
}