.padding-000 {
  padding: 0rem;
}
.padding-025 {
  padding: 0.25rem;
}
.padding-050 {
  padding: 0.5rem;
}
.padding-075 {
  padding: 0.75rem;
}
.padding-100 {
  padding: 1rem;
}
.padding-125 {
  padding: 1.25rem;
}
.padding-150 {
  padding: 1.5rem;
}
.padding-175 {
  padding: 1.75rem;
}
.padding-200 {
  padding: 2rem;
}
.padding-225 {
  padding: 2.25rem;
}
.padding-250 {
  padding: 2.5rem;
}
.padding-275 {
  padding: 2.75rem;
}
.padding-300 {
  padding: 3rem;
}
.padding-325 {
  padding: 3.25rem;
}
.padding-250 {
  padding: 3.5rem;
}
.padding-275 {
  padding: 3.75rem;
}
.padding-200 {
  padding: 2rem;
}
.padding-225 {
  padding: 2.25rem;
}
.padding-250 {
  padding: 2.5rem;
}
.padding-275 {
  padding: 2.75rem;
}
.padding-300 {
  padding: 3rem;
}
.padding-325 {
  padding: 3.25rem;
}
.padding-350 {
  padding: 3.5rem;
}
.padding-375 {
  padding: 3.75rem;
}
.padding-400 {
  padding: 4rem;
}
.padding-425 {
  padding: 4.25rem;
}
.padding-450 {
  padding: 4.5rem;
}
.padding-475 {
  padding: 4.75rem;
}
.padding-500 {
  padding: 5rem;
}
.padding-525 {
  padding: 5.25rem;
}
.padding-550 {
  padding: 5.5rem;
}
.padding-575 {
  padding: 5.75rem;
}
.padding-600 {
  padding: 6rem;
}
