input, textarea {
    padding: 1ch 1.5ch;
    @include setFont('regular', 1);
    font-family: 'Inter';
    background-color: transparent;
    border-radius: 25px;
    border: 3px solid $pinkred;
    color: currentColor;
}

textarea {
    resize: vertical;
    border-end-end-radius: 0px;
    border-radius: 25px 25px 0px 25px;
}