button,
p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: currentColor;
  line-height: 1.15;
}

p,
span {
  @include setFont('regular', 1);
  line-height: 1.5;
}

a {
  @include setFont('medium', 1);
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:focus-within {
    outline: none;
  }
}

button {
  @include setFont('medium', 1, 'Inter');
  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:focus-within {
    outline: none;
  }
}

h1 {
  @include setFont('bold', pow(1.5, 5));
}

h2 {
  @include setFont('bold', pow(1.5, 4));
}

h3 {
  @include setFont('bold', pow(1.5, 3));
}

h4 {
  @include setFont('bold', pow(1.5, 2));
}

h5 {
  @include setFont('semibold', 1.5);
}

h6 {
  @include setFont('semibold', 1);
}
