<template lang="pug">
  .main
    span {{tale.title}}
    nuxt-link.flex_item-f1.margin_right-100.flex(:to="taleLink")
      BaseButton.flex_item-f1(text = 'Read more')
</template>

<script>
import Strapi from 'strapi-sdk-javascript/build/main';
import BaseButton from '../../../components/base/BaseButton.vue';

const strapi = new Strapi(process.env.apiUrl);

export default {
  middleware: 'auth',
  components: {
    BaseButton,
  },
  data() {
    return {
      tale: {},
      taleLink: `/${this.$route.params.user}/${this.$route.params.tale}/read`,
    };
  },
  async asyncData({ params }) {
    const response = await strapi.request('post', 'graphql', {
      data: {
        query: `query {
                  tales(where: {
                    titleId: ${params.tale}
                  }) {
                    id
                    title
                  }
                }
                `,
      },
    });
    return { tale: response.data.tales[0] };
  },
};
</script>

<style lang="scss" scoped>
</style>
