<template lang="pug">
    .profile.cursor-pointer(:class="{'profile-big': big, 'profile-small': small}")
      img(:src="getUserPicture")
</template>

<script>
export default {
  props: {
    user: Object,
    big: Boolean,
    small: Boolean,
  },
  computed: {
    getUserPicture() {
      if (this.$auth.user.picture !== null) {
        return `${process.env.apiUrl}${this.$auth.user.picture.url}`;
      }
      return '';
    },
  },
};
</script>

<style lang="scss" scoped>
.profile {
  border-radius: 100px;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $grey;
  }
}

.profile-big {
  width: 144px;
  height: 144px;
}

.profile-small {
  width: 50px;
  height: 50px;
}
</style>
