<template lang="pug">
    .cursor-pointer(v-if="completed")
        .flex.flex-aic.flex-jcc.type.type-completed(:class="{'type-big': big, 'type-small': small}")
            h6.text-white(v-if="big") Completed
            h6.text-white(v-else-if="small") C
    .cursor-pointer(v-else-if="hypertale")
        .flex.flex-aic.flex-jcc.type.type-hypertale(:class="{'type-big': big, 'type-small': small}")
            h6.text-white(v-if="big") Hypertale
            h6.text-white(v-else-if="small") H
    .cursor-pointer(v-else-if="age === 'everyone'")
        .flex.flex-aic.flex-jcc.type.type-everyone(:class="{'type-big': big, 'type-small': small}")
            h6.text-white(v-if="big") Everyone
            h6.text-white(v-else-if="small") E
    .cursor-pointer(v-else-if="age === 'teens'")
        .flex.flex-aic.flex-jcc.type.type-teens(:class="{'type-big': big, 'type-small': small}")
            h6.text-white(v-if="big") Teens
            h6.text-white(v-else-if="small") T
    .cursor-pointer(v-else-if="age === 'matures'")
        .flex.flex-aic.flex-jcc.type.type-matures(:class="{'type-big': big, 'type-small': small}")
            h6.text-white(v-if="big") Matures
            h6.text-white(v-else-if="small") M
    .cursor-pointer(v-else-if="age === 'adults'")
        .flex.flex-aic.flex-jcc.type.type-adults(:class="{'type-big': big, 'type-small': small}")
            h6.text-white(v-if="big") Adults
            h6.text-white(v-else-if="small") A
</template>

<script>
export default {
  props: {
    age: {
      type: String,
      required: false,
    },
    completed: Boolean,
    hypertale: Boolean,
    big: Boolean,
    small: Boolean,
  },
};
</script>

<style lang="scss" scoped>
.type {
  border-radius: 100px;
  padding: 0.5ch 1ch;
  @include setTransition(all, 0.4s, ease);
}

.type-big {
  padding: 0.5ch 1ch;
}

.type-small {
  width: 22px;
  height: 22px;
}

.type-everyone {
  background-color: $green;
  &:hover {
    background-color: adjust-color($color: $green, $lightness: 5%);
  }
}

.type-teens {
  background-color: $blue;
  &:hover {
    background-color: adjust-color($color: $blue, $lightness: 5%);
  }
}

.type-matures {
  background-color: $red;
  &:hover {
    background-color: adjust-color($color: $red, $lightness: 5%);
  }
}

.type-adults {
  background-color: $black;
  border: 1px solid $white;
  &:hover {
    background-color: adjust-color($color: $black, $lightness: 5%);
  }
}

.type-hypertale {
  background-color: $pinkred;
  &:hover {
    background-color: adjust-color($color: $pinkred, $lightness: 5%);
  }
}

.type-completed {
  background-color: $turquoise;
  &:hover {
    background-color: adjust-color($color: $turquoise, $lightness: 5%);
  }
}
</style>
