<template lang="pug">
  div(v-if="form")
    button.cursor-pointer(:class="[ inverted ? 'button-inverted' : '', 'button-default']" type="submit" @click.stop.prevent="event()")
      h5 {{text}}
  div(v-else)
    button.cursor-pointer(:class="[ inverted ? 'button-inverted' : '', 'button-default']")
      h5 {{text}}
</template>

<script>
export default {
  props: {
    inverted: Boolean,
    text: {
      type: String,
      required: true,
    },
    form: Boolean,
    event: {
      type: Function,
      required: false,
    },
  },
};
</script>

<style lang="scss" scoped>
button {
  @include setTransition(all, 0.4s, ease);
  border-radius: 100px;
  padding: 0.75ch 2ch;
  width: 100%;
  height: 100%;
}

.button-default {
  background-color: $pinkred;
  border: none;
  color: $white;

  &:hover {
    background-color: adjust-color($color: $pinkred, $lightness: 5%);
  }
}

.button-inverted {
  background-color: change-color($color: $pinkred, $alpha: 0);
  border: 3px solid $pinkred;
  color: currentColor;

  &:hover {
    background-color: change-color($color: $pinkred, $alpha: 0.1);
  }
}
</style>
