<template lang="pug">
    .flex.position-fixed.position-top-000.position-left-000.width-100vw.height-100vh.pointer-events-none
      .flex_item-f1.flex.flex-column.pointer-events-auto
        .flex_item-f1.flex.flex-column.flex-jcc
          .flex.flex-aic.flex-jcc.flex_item-f2(v-if="logo || everything && !noLogo")
            nuxt-link(to="/")
              BaseButonIcon(type="logo" pinkred)
          .flex_item-f1
        .flex_item-f1.flex.flex-column.flex-jcc
        .flex_item-f1.flex.flex-column.flex-jcc
      .flex_item-f5
      header.flex_item-f1.flex.flex-column.pointer-events-auto
        .flex_item-f1.flex.flex-column.flex-jcc
          .flex_item-f2.flex.flex-column.flex-jcfe
            .flex.flex-column
              .flex.flex-aic.flex-jcc.position-relative(v-if="user || everything && !noUser")
                BaseUserProfile(:user="userProfile" small tabindex="0" @focus.native="viewDropdown(0)" @blur.native="ocultDropdown(0)")
                BaseDropdown.position-absolute.position-right-050.position-top-050(:config="dropdown[0].config")
              .flex.flex-aic.flex-jcc(v-if="notifications || everything && !noNotifications")
                BaseButonIcon(type="regular" icon="notifications")
          .flex_item-f1
        .flex_item-f1.flex.flex-column.flex-jcc
          .flex.flex-column
            .flex.flex-aic.flex-jcc(v-if="search || everything && !noSearch")
              BaseButonIcon(type="regular" icon="search")
            .flex.flex-aic.flex-jcc(v-if="filter || everything && !noFilter")
              BaseButonIcon(type="regular" icon="filter")
            .flex.flex-aic.flex-jcc(v-if="layout || everything && !noLayout")
              BaseButonIcon(type="regular" icon="gridLayout")
        .flex_item-f1.flex.flex-column.flex-jcc
          .flex_item-f1
          .flex_item-f2.flex.flex-column.flex-jcc
            .flex.flex-column
              .flex.flex-aic.flex-jcc(v-if="newTale || everything && !noNewTale")
                nuxt-link(to="/new")
                  BaseButonIcon(type="regular" icon="newTale" pinkred)
</template>

<script>
import BaseButonIcon from './BaseButtonIcon.vue';
import BaseUserProfile from './BaseUserProfile.vue';
import BaseDropdown from './BaseDropdown.vue';

export default {
  components: {
    BaseButonIcon,
    BaseUserProfile,
    BaseDropdown,
  },
  props: {
    logo: Boolean,
    user: Boolean,
    notifications: Boolean,
    search: Boolean,
    filter: Boolean,
    layout: Boolean,
    newTale: Boolean,
    noLogo: Boolean,
    noUser: Boolean,
    noNotifications: Boolean,
    noSearch: Boolean,
    noFilter: Boolean,
    noLayout: Boolean,
    noNewTale: Boolean,
    everything: Boolean,
    userProfile: Object,
  },
  data() {
    return {
      dropdown: [
        {
          config: {
            options: [
              {
                text: `Signed as ${
                  !this.$auth.user ? '' : this.$auth.user.username
                }`,
                bold: true,
                link: `/${!this.$auth.user ? '' : this.$auth.user.username}`,
              },
              {
                text: 'Library',
                link: `/${!this.$auth.user ? '' : this.$auth.user.username}/library`,
              },
              {
                text: 'Configuration',
                link: '/configuration',
              },
              {
                text: 'Logout',
                eventType: 'click',
                event: 'logout',
              },
            ],
            visible: false,
          },
        },
      ],
    };
  },
  methods: {
    viewDropdown(index) {
      this.dropdown[index].config.visible = true;
    },
    ocultDropdown(index) {
      this.dropdown[index].config.visible = false;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
