<template lang="pug">
  .flex.flex-column.dropdown.padding_bottom-100.padding_top-100(:class="{ 'dropdown-hidden': !config.visible }")
    .flex.flex-column.dropdown_item.cursor-pointer(v-for="option in config.options")
      nuxt-link.padding_bottom-050.padding_top-050.padding_left-150.padding_right-150(:to="{ path: option.link }" v-if="option.link")
        span(:class="{ 'text-weight-600': option.bold }") {{option.text}}
      .padding_bottom-050.padding_top-050.padding_left-150.padding_right-150(v-else-if="option.eventType" @[option.eventType]="handleEvent(option)")
        span(:class="{ 'text-weight-600': option.bold }") {{option.text}}

</template>

<script>
export default {
  props: {
    config: Object,
  },
  methods: {
    handleEvent(ctx) {
      switch (ctx.event) {
        case 'logout':
          this.$auth.logout();
          this.$router.push('/signin');
          break;
        default:
          break;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.dropdown {
  border: 0.5px solid change-color($color: $grey, $alpha: 0.2);
  border-radius: 25px 0px 25px 25px;
  background-color: $white;
  transition: all 0.4s ease;
  animation: 0.4s alternate moveup;
  @include setShadow(
    0px,
    10px,
    20px,
    0px,
    change-color($color: $pureblack, $alpha: 0.25)
  );

  &_item {
    transition: all 0.4s ease;
  }

  &_item:hover {
    background-color: change-color($color: $grey, $alpha: 0.15);
  }

  &-hidden {
    opacity: 0;
    visibility: hidden;
    animation: 0.4s alternate movedown;
    animation-timing-function: ease;
  }

  @keyframes moveup {
    from {
      transform: translate(0px, 10px);
    }
    to {
      transform: translate(0px, 0px);
    }
  }

  @keyframes movedown {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 10px);
    }
  }
}
</style>
