<template lang="pug">
    .cover(:class="{'cover-big': big, 'cover-small': small}" v-if="preview")
      img(:src="getImgPreview()")
    .cover(:class="{'cover-big': big, 'cover-small': small}" v-else)
      img(:src="getImg()")
</template>

<script>
export default {
  props: {
    big: Boolean,
    small: Boolean,
    image: {
      type: String,
      required: false,
    },
    preview: Boolean,
  },
  methods: {
    getImg() {
      if (this.image !== undefined) {
        return `${process.env.apiUrl}/uploads${
          this.image.split('/uploads')[1]
        }`;
      }
      return '';
    },
    getImgPreview() {
      if (this.image !== '') return this.image;
      return '';
    },
  },
};
</script>

<style lang="scss" scoped>
.cover {
  border-radius: 10px;
  overflow: hidden;
  @include setShadow(
    0px,
    25px,
    25px,
    -25px,
    change-color($color: $pureblack, $alpha: 0.5)
  );

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $grey;
  }
}

.cover-big {
  min-width: 240px;
  min-height: 360px;
  max-width: 360px;
  max-height: 540px;
  width: 50vmin;
  height: 75vmin;
}

.cover-small {
  max-width: 240px;
  max-height: 360px;
  width: 26.6vmax;
  height: 40vmax;
}
</style>
