<template lang="pug">
  div
    button.button-logo.cursor-pointer(v-html="logo" v-if="type==='logo'" :class="[ pinkred ? 'button-logo-pinkred' : '', 'button-logo-default', small ? 'button-small' : '', 'button-big' ]")
    div(v-else-if="type==='light'")
      button.button-icon.cursor-pointer(v-html="lightArrow" v-if="icon==='arrow'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightArrowMinimal" v-else-if="icon==='arrowMinimal'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightConfiguration" v-else-if="icon==='configuration'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightFilter" v-else-if="icon==='filter'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightGridLayout" v-else-if="icon==='gridLayout'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightLinearLayout" v-else-if="icon==='linearLayout'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightNewTale" v-else-if="icon==='newTale'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightNotifications" v-else-if="icon==='notifications'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightOptions" v-else-if="icon==='options'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightPlus" v-else-if="icon==='plus'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightSearch" v-else-if="icon==='search'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="lightUserProfile" v-else-if="icon==='userProfile'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
    div(v-else-if="type==='regular'")
      button.button-icon.cursor-pointer(v-html="regularArrow" v-if="icon==='arrow'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularArrowMinimal" v-else-if="icon==='arrowMinimal'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularConfiguration" v-else-if="icon==='configuration'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularFilter" v-else-if="icon==='filter'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularGridLayout" v-else-if="icon==='gridLayout'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularLinearLayout" v-else-if="icon==='linearLayout'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularNewTale" v-else-if="icon==='newTale'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularNotifications" v-else-if="icon==='notifications'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularOptions" v-else-if="icon==='options'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularPlus" v-else-if="icon==='plus'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularSearch" v-else-if="icon==='search'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="regularUserProfile" v-else-if="icon==='userProfile'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
    div(v-else-if="type==='bold'")
      button.button-icon.cursor-pointer(v-html="boldArrow" v-if="icon==='arrow'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldArrowMinimal" v-else-if="icon==='arrowMinimal'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldConfiguration" v-else-if="icon==='configuration'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldFilter" v-else-if="icon==='filter'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldGridLayout" v-else-if="icon==='gridLayout'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldLinearLayout" v-else-if="icon==='linearLayout'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldNewTale" v-else-if="icon==='newTale'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldNotifications" v-else-if="icon==='notifications'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldOptions" v-else-if="icon==='options'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldPlus" v-else-if="icon==='plus'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldSearch" v-else-if="icon==='search'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
      button.button-icon.cursor-pointer(v-html="boldUserProfile" v-else-if="icon==='userProfile'" :class="[ pinkred ? 'button-pinkred' : '', 'button-default', small ? 'button-small' : '', 'button-big' ]")
</template>

<script>
/* eslint-disable quotes, max-len, no-trailing-spaces */
export default {
  props: {
    pinkred: Boolean,
    icon: {
      type: String,
      required: false,
    },
    type: String,
    small: Boolean,
  },
  data() {
    return {
      logo: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><g><path class="cls-1" d="M22.91,7A8,8,0,0,0,15,0h-.94V7H8.85A8,8,0,0,0,.94,0H0V15a8,8,0,0,0,8,8h.94v-7h5.15V22a8,8,0,0,0,8,8H23V15.88A8,8,0,0,0,30,8V7Z"/></g></svg>`,

      lightArrow: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><g><path d="M15,7.69a.5.5,0,0,0,0-.38.36.36,0,0,0-.11-.16l-7-7a.48.48,0,0,0-.7,0,.48.48,0,0,0,0,.7L13.29,7H.5a.5.5,0,0,0,0,1H13.29L7.15,14.15a.48.48,0,0,0,0,.7.48.48,0,0,0,.7,0l7-7A.36.36,0,0,0,15,7.69Z"/></g></svg>`,
      lightArrowMinimal: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 15"><g><path d="M7.85,7.15l-7-7a.48.48,0,0,0-.7,0,.48.48,0,0,0,0,.7L6.79,7.5.15,14.15a.48.48,0,0,0,0,.7A.47.47,0,0,0,.5,15a.47.47,0,0,0,.35-.15l7-7A.48.48,0,0,0,7.85,7.15Z"/></g></svg>`,
      lightConfiguration: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.82 18"><g><path d="M8.41,6.5A2.5,2.5,0,1,0,10.91,9,2.5,2.5,0,0,0,8.41,6.5Zm0,4A1.5,1.5,0,1,1,9.91,9,1.5,1.5,0,0,1,8.41,10.5Z"/><path d="M15.6,9.69a.43.43,0,0,1-.2-.39q0-.3,0-.6a.43.43,0,0,1,.2-.39A2.42,2.42,0,0,0,16.49,5l-.58-1a2.41,2.41,0,0,0-2.1-1.21,2.46,2.46,0,0,0-1.21.32.36.36,0,0,1-.2.06.48.48,0,0,1-.23-.07c-.17-.11-.35-.21-.53-.31a.41.41,0,0,1-.23-.37A2.43,2.43,0,0,0,9,0H7.83A2.43,2.43,0,0,0,5.41,2.42a.44.44,0,0,1-.23.38,4.4,4.4,0,0,0-.52.3.55.55,0,0,1-.24.07.39.39,0,0,1-.21-.06A2.43,2.43,0,0,0,.9,4L.33,5a2.43,2.43,0,0,0,.88,3.31.42.42,0,0,1,.21.39q0,.3,0,.6a.43.43,0,0,1-.2.39A2.4,2.4,0,0,0,.33,13L.9,14a2.43,2.43,0,0,0,3.31.89.36.36,0,0,1,.2-.06.48.48,0,0,1,.24.07l.52.31a.4.4,0,0,1,.24.37A2.43,2.43,0,0,0,7.83,18H9a2.43,2.43,0,0,0,2.42-2.42.44.44,0,0,1,.23-.38,5.39,5.39,0,0,0,.52-.3.51.51,0,0,1,.24-.07.36.36,0,0,1,.2.06,2.46,2.46,0,0,0,1.21.32A2.41,2.41,0,0,0,15.91,14l.58-1A2.42,2.42,0,0,0,15.6,9.69Zm0,2.81-.58,1a1.43,1.43,0,0,1-2,.52h0a1.37,1.37,0,0,0-.7-.19,1.48,1.48,0,0,0-.78.23l-.44.26a1.4,1.4,0,0,0-.77,1.25h0A1.43,1.43,0,0,1,9,17H7.83a1.43,1.43,0,0,1-1.42-1.42,1.43,1.43,0,0,0-.77-1.26,4.83,4.83,0,0,1-.45-.26,1.48,1.48,0,0,0-.78-.23,1.37,1.37,0,0,0-.7.19,1.42,1.42,0,0,1-1.94-.52l-.58-1a1.42,1.42,0,0,1,.52-1.94h0a1.43,1.43,0,0,0,.7-1.29,4.34,4.34,0,0,1,0-.51,1.41,1.41,0,0,0-.7-1.3h0A1.42,1.42,0,0,1,1.19,5.5l.58-1A1.42,1.42,0,0,1,3.71,4h0a1.32,1.32,0,0,0,.7.19,1.42,1.42,0,0,0,.77-.23l.45-.26a1.4,1.4,0,0,0,.77-1.25h0A1.43,1.43,0,0,1,7.83,1H9a1.43,1.43,0,0,1,1.42,1.42,1.42,1.42,0,0,0,.77,1.26l.45.26a1.44,1.44,0,0,0,.77.23A1.34,1.34,0,0,0,13.1,4a1.43,1.43,0,0,1,2,.52l.58,1a1.42,1.42,0,0,1-.53,1.94h0a1.39,1.39,0,0,0-.7,1.29,4.34,4.34,0,0,1,0,.51,1.41,1.41,0,0,0,.7,1.3h0A1.42,1.42,0,0,1,15.63,12.5Z"/></g></svg>`,
      lightFilter: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18"><g><path d="M8,4.49H18a.5.5,0,0,0,0-1H8a4,4,0,1,0,0,1ZM1,4A3,3,0,1,1,4,7,3,3,0,0,1,1,4Z"/><path d="M16,10a4,4,0,0,0-3.95,3.51H2a.5.5,0,0,0,0,1H12.05A4,4,0,1,0,16,10Zm0,7a3,3,0,1,1,3-3A3,3,0,0,1,16,17Z"/></g></svg>`,
      lightGridLayout: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><path d="M7,0H2A2,2,0,0,0,0,2V7A2,2,0,0,0,2,9H7A2,2,0,0,0,9,7V2A2,2,0,0,0,7,0ZM8,7A1,1,0,0,1,7,8H2A1,1,0,0,1,1,7V2A1,1,0,0,1,2,1H7A1,1,0,0,1,8,2Z"/><path d="M18,0H13a2,2,0,0,0-2,2V7a2,2,0,0,0,2,2h5a2,2,0,0,0,2-2V2A2,2,0,0,0,18,0Zm1,7a1,1,0,0,1-1,1H13a1,1,0,0,1-1-1V2a1,1,0,0,1,1-1h5a1,1,0,0,1,1,1Z"/><path d="M7,11H2a2,2,0,0,0-2,2v5a2,2,0,0,0,2,2H7a2,2,0,0,0,2-2V13A2,2,0,0,0,7,11Zm1,7a1,1,0,0,1-1,1H2a1,1,0,0,1-1-1V13a1,1,0,0,1,1-1H7a1,1,0,0,1,1,1Z"/><path d="M18,11H13a2,2,0,0,0-2,2v5a2,2,0,0,0,2,2h5a2,2,0,0,0,2-2V13A2,2,0,0,0,18,11Zm1,7a1,1,0,0,1-1,1H13a1,1,0,0,1-1-1V13a1,1,0,0,1,1-1h5a1,1,0,0,1,1,1Z"/></g></svg>`,
      lightLinearLayout: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 15"><g><path d="M9.5,0h-8A1.5,1.5,0,0,0,0,1.5v12A1.5,1.5,0,0,0,1.5,15h8A1.5,1.5,0,0,0,11,13.5V1.5A1.5,1.5,0,0,0,9.5,0ZM10,13.5a.5.5,0,0,1-.5.5h-8a.5.5,0,0,1-.5-.5V1.5A.5.5,0,0,1,1.5,1h8a.5.5,0,0,1,.5.5Z"/><path d="M13.5,4h5a.5.5,0,0,0,0-1h-5a.5.5,0,0,0,0,1Z"/><path d="M18.5,7h-5a.5.5,0,0,0,0,1h5a.5.5,0,0,0,0-1Z"/><path d="M18.5,11h-5a.5.5,0,0,0,0,1h5a.5.5,0,0,0,0-1Z"/></g></svg>`,
      lightNewTale: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"><g><path d="M18.92,3.84,16.09,1A2,2,0,0,0,14.67.43,2,2,0,0,0,13.26,1L.43,13.85h0V19.5H6.08L18.91,6.67A2,2,0,0,0,18.92,3.84ZM18.21,6,6,18.12,1.81,13.88,14,1.72a1,1,0,0,1,.71-.29,1,1,0,0,1,.71.29l2.83,2.83a1,1,0,0,1,0,1.41Z"/><path d="M3,4V6.5a.5.5,0,0,0,1,0V4H6.5a.5.5,0,0,0,0-1H4V.5a.5.5,0,0,0-1,0V3H.5a.5.5,0,0,0,0,1Z"/></g></svg>`,
      lightNotifications: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 20"><g><path d="M17.83,14.44l-.12-.15L16,12h0V8a7,7,0,0,0-5.15-6.75,2,2,0,0,0-3.7,0A7,7,0,0,0,2,8v4H2L.29,14.29l-.12.15A1,1,0,0,0,0,15a1,1,0,0,0,1,1H5a4,4,0,0,0,8,0h4a1,1,0,0,0,1-1A1,1,0,0,0,17.83,14.44ZM9,19a3,3,0,0,1-3-3h6A3,3,0,0,1,9,19ZM1,15l0,0,.07-.09L2.8,12.6l.2-.27V8A6,6,0,0,1,15,8v4.33l.2.27,1.73,2.32L17,15l0,0Z"/></g></svg>`,
      lightOptions: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 18"><g><circle cx="1" cy="9" r="1"/><circle cx="1" cy="1" r="1"/><circle cx="1" cy="17" r="1"/></g></svg>`,
      lightPlus: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g><path d="M16.5,8H9V.5a.5.5,0,0,0-1,0V8H.5a.5.5,0,0,0,0,1H8v7.5a.5.5,0,0,0,1,0V9h7.5a.5.5,0,0,0,0-1Z"/></g></svg>`,
      lightSearch: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.5 19.5"><g><path d="M19.35,18.65l-4.49-4.49,0,0a8.54,8.54,0,1,0-.7.7l0,0,4.49,4.49a.48.48,0,0,0,.7,0A.48.48,0,0,0,19.35,18.65ZM8.5,16A7.5,7.5,0,1,1,16,8.5,7.5,7.5,0,0,1,8.5,16Z"/></g></svg>`,
      lightUserProfile: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><path d="M10,4a4,4,0,1,0,4,4A4,4,0,0,0,10,4Zm0,7a3,3,0,1,1,3-3A3,3,0,0,1,10,11Z"/><path d="M20,10A10,10,0,1,0,3,17.14H3l.3.27c.12.11.24.23.37.33l.47.35.29.22.59.36.23.13c.22.12.45.23.68.33l.19.09c.24.1.49.19.74.27l.17.06c.26.08.51.14.77.2L8,19.8c.26.05.53.09.79.12L9,20c.34,0,.68.05,1,.05s.68,0,1-.05l.2,0c.26,0,.53-.07.79-.12l.19-.05c.26-.06.51-.12.77-.2l.17-.06c.25-.08.5-.17.74-.27l.19-.09c.23-.1.46-.21.68-.33l.23-.13.59-.36.29-.22.47-.35c.13-.1.25-.22.37-.33l.3-.27h0A10,10,0,0,0,20,10Zm-6.46,8.27-.11.05c-.22.09-.44.17-.67.24l-.18.06-.62.16-.24,0-.62.1-.24,0c-.28,0-.57,0-.86,0s-.58,0-.86,0l-.24,0-.62-.1-.24,0-.62-.16-.18-.06c-.23-.07-.45-.15-.67-.24l-.11-.05A8.94,8.94,0,0,1,4.29,17a7,7,0,0,1,11.42,0A8.94,8.94,0,0,1,13.54,18.27ZM10,13a8,8,0,0,0-6.45,3.27,9,9,0,1,1,12.9,0A8,8,0,0,0,10,13Z"/></g></svg>`,

      regularArrow: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g><path d="M15.92,8.38a1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-7-7A1,1,0,1,0,7.29,1.71L12.59,7H1A1,1,0,0,0,1,9H12.59l-5.3,5.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l7-7A1,1,0,0,0,15.92,8.38Z"/></g></svg>`,
      regularArrowMinimal: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 16"><g><path d="M8.71,7.29l-7-7A1,1,0,0,0,.29,1.71L6.59,8,.29,14.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l7-7A1,1,0,0,0,8.71,7.29Z"/></g></svg>`,
      regularConfiguration: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.82 20"><g><path d="M9.41,7a3,3,0,1,0,3,3A3,3,0,0,0,9.41,7Zm0,4a1,1,0,1,1,1-1A1,1,0,0,1,9.41,11Z"/><path d="M17.4,10v0a3.42,3.42,0,0,0,1-4.48l-.58-1a3.43,3.43,0,0,0-4.35-1.42l0,0A3.42,3.42,0,0,0,10,0H8.83a3.43,3.43,0,0,0-3.4,3.07l0,0A3.31,3.31,0,0,0,4,2.79,3.41,3.41,0,0,0,1,4.5l-.58,1a3.43,3.43,0,0,0,1,4.48v0A3.4,3.4,0,0,0,.12,11.9a3.37,3.37,0,0,0,.34,2.6l.58,1a3.41,3.41,0,0,0,3,1.71,3.46,3.46,0,0,0,1.39-.29l0,0A3.42,3.42,0,0,0,8.83,20H10a3.43,3.43,0,0,0,3.4-3.07l0,0a3.38,3.38,0,0,0,1.39.3,3.43,3.43,0,0,0,3-1.71l.58-1A3.43,3.43,0,0,0,17.4,10Zm-.77,3.48-.58,1a1.41,1.41,0,0,1-1.24.71A1.43,1.43,0,0,1,14.1,15h0a1.37,1.37,0,0,0-.7-.19,1.48,1.48,0,0,0-.78.23l-.44.26a1.4,1.4,0,0,0-.77,1.25h0A1.43,1.43,0,0,1,10,18H8.83a1.43,1.43,0,0,1-1.42-1.42,1.43,1.43,0,0,0-.77-1.26,4.83,4.83,0,0,1-.45-.26,1.48,1.48,0,0,0-.78-.23,1.37,1.37,0,0,0-.7.19,1.42,1.42,0,0,1-1.94-.52l-.58-1a1.42,1.42,0,0,1,.52-1.94h0a1.41,1.41,0,0,0,.7-1.29,4.34,4.34,0,0,1,0-.51,1.41,1.41,0,0,0-.7-1.3h0A1.42,1.42,0,0,1,2.19,6.5l.58-1A1.42,1.42,0,0,1,4.71,5h0a1.32,1.32,0,0,0,.7.19,1.42,1.42,0,0,0,.77-.23l.45-.26a1.4,1.4,0,0,0,.77-1.25h0A1.43,1.43,0,0,1,8.83,2H10a1.43,1.43,0,0,1,1.42,1.42,1.42,1.42,0,0,0,.77,1.26l.45.26a1.44,1.44,0,0,0,.77.23A1.32,1.32,0,0,0,14.1,5a1.43,1.43,0,0,1,.71-.19,1.41,1.41,0,0,1,1.24.71l.58,1a1.42,1.42,0,0,1-.53,1.94h0a1.41,1.41,0,0,0-.7,1.29,4.34,4.34,0,0,1,0,.51,1.41,1.41,0,0,0,.7,1.3h0A1.42,1.42,0,0,1,16.63,13.5Z"/></g></svg>`,
      regularFilter: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18"><g><path d="M4,8A4,4,0,0,0,7.87,5,.5.5,0,0,0,8,5H18a1,1,0,0,0,0-2H8a.5.5,0,0,0-.13,0A4,4,0,1,0,4,8ZM4,2A2,2,0,1,1,2,4,2,2,0,0,1,4,2Z"/><path d="M16,10a4,4,0,0,0-3.87,3A.5.5,0,0,0,12,13H2a1,1,0,0,0,0,2H12a.5.5,0,0,0,.13,0A4,4,0,1,0,16,10Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,16,16Z"/></g></svg>`,
      regularGridLayout: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><path d="M7,0H2A2,2,0,0,0,0,2V7A2,2,0,0,0,2,9H7A2,2,0,0,0,9,7V2A2,2,0,0,0,7,0ZM7,7H2V2H7Z"/><path d="M18,0H13a2,2,0,0,0-2,2V7a2,2,0,0,0,2,2h5a2,2,0,0,0,2-2V2A2,2,0,0,0,18,0Zm0,7H13V2h5Z"/><path d="M7,11H2a2,2,0,0,0-2,2v5a2,2,0,0,0,2,2H7a2,2,0,0,0,2-2V13A2,2,0,0,0,7,11Zm0,7H2V13H7Z"/><path d="M18,11H13a2,2,0,0,0-2,2v5a2,2,0,0,0,2,2h5a2,2,0,0,0,2-2V13A2,2,0,0,0,18,11Zm0,7H13V13h5Z"/></g></svg>`,
      regularLinearLayout: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16"><g><path d="M10,16H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0h8a2,2,0,0,1,2,2V14A2,2,0,0,1,10,16ZM2,2H2V14h8V2Z"/><path d="M19,5H14a1,1,0,0,1,0-2h5a1,1,0,0,1,0,2Z"/><path d="M19,9H14a1,1,0,0,1,0-2h5a1,1,0,0,1,0,2Z"/><path d="M19,13H14a1,1,0,0,1,0-2h5a1,1,0,0,1,0,2Z"/></g></svg>`,
      regularNewTale: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><path d="M19.42,4.34,16.59,1.51A2,2,0,0,0,15.17.93a2,2,0,0,0-1.41.58L.93,14.35h0V20H6.58L19.41,7.17A2,2,0,0,0,19.42,4.34ZM5.84,17.91,3,15.09,15.16,2.93h0L18,5.76Z"/><path d="M3,5V7A1,1,0,0,0,5,7V5H7A1,1,0,0,0,7,3H5V1A1,1,0,0,0,3,1V3H1A1,1,0,0,0,1,5Z"/></g></svg>`,
      regularNotifications: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 20"><g><path d="M17.83,14.44l-.12-.15L16,12h0V8a7,7,0,0,0-5.15-6.75,2,2,0,0,0-3.7,0A7,7,0,0,0,2,8v4H2L.29,14.29l-.12.15A1,1,0,0,0,0,15a1,1,0,0,0,1,1H5a4,4,0,0,0,8,0h4a1,1,0,0,0,1-1A1,1,0,0,0,17.83,14.44ZM9,18a2,2,0,0,1-2-2h4A2,2,0,0,1,9,18ZM3,14l.6-.8.4-.54V8A5,5,0,0,1,14,8v4.66l.4.54.6.8Z"/></g></svg>`,
      regularOptions: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 19"><g><circle cx="1.5" cy="9.5" r="1.5"/><circle cx="1.5" cy="1.5" r="1.5"/><circle cx="1.5" cy="17.5" r="1.5"/></g></svg>`,
      regularPlus: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><g><path d="M17,8H10V1A1,1,0,0,0,8,1V8H1a1,1,0,0,0,0,2H8v7a1,1,0,0,0,2,0V10h7a1,1,0,0,0,0-2Z"/></g></svg>`,
      regularSearch: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><path d="M19.71,18.29,15.22,13.8l-.06,0a8.52,8.52,0,1,0-1.39,1.39l0,.06,4.49,4.49a1,1,0,0,0,1.42,0A1,1,0,0,0,19.71,18.29ZM8.5,15A6.5,6.5,0,1,1,15,8.5,6.51,6.51,0,0,1,8.5,15Z"/></g></svg>`,
      regularUserProfile: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><path d="M10,4a4,4,0,1,0,4,4A4,4,0,0,0,10,4Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,10,10Z"/><path d="M20,10A10,10,0,1,0,3,17.14H3l.3.27c.12.11.24.23.37.33l.47.35.29.22.59.35.23.14c.22.12.45.23.68.33l.19.09c.24.1.49.19.74.27l.17.06c.26.08.51.14.77.2L8,19.8c.26.05.53.09.79.12L9,20c.34,0,.68.05,1,.05s.68,0,1-.05l.2,0c.26,0,.53-.07.79-.12l.19-.05c.26-.06.51-.12.77-.2l.17-.06c.25-.08.5-.17.74-.27l.19-.09c.23-.1.46-.21.68-.33l.23-.14.59-.35.29-.22.47-.35c.13-.1.25-.22.37-.33l.3-.27h0A10,10,0,0,0,20,10Zm-6,6.89a5.45,5.45,0,0,1-.53.29l-.34.16a6.66,6.66,0,0,1-.85.31l-.3.08c-.23.06-.47.11-.71.15l-.3.05A8.57,8.57,0,0,1,10,18a8.57,8.57,0,0,1-1-.07l-.3-.05c-.24,0-.48-.09-.71-.15l-.3-.08a6.66,6.66,0,0,1-.85-.31l-.34-.16A5.45,5.45,0,0,1,6,16.89l-.21-.12a6,6,0,0,1,8.5,0ZM10,13a7.94,7.94,0,0,0-5.8,2.5,8,8,0,1,1,11.6,0A7.94,7.94,0,0,0,10,13Z"/></g></svg>`,

      boldArrow: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g><path d="M16.89,9.07v0a1.43,1.43,0,0,0,0-1.1v0a1.51,1.51,0,0,0-.33-.49l-7-7A1.5,1.5,0,0,0,7.44,2.56L11.88,7H1.5a1.5,1.5,0,0,0,0,3H11.88L7.44,14.44a1.49,1.49,0,0,0,0,2.12,1.5,1.5,0,0,0,2.12,0l7-7A1.51,1.51,0,0,0,16.89,9.07Z"/></g></svg>`,
      boldArrowMinimal: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 17"><g><path d="M9.56,7.44l-7-7A1.5,1.5,0,0,0,.44,2.56L6.38,8.5.44,14.44a1.49,1.49,0,0,0,0,2.12,1.5,1.5,0,0,0,2.12,0l7-7A1.49,1.49,0,0,0,9.56,7.44Z"/></g></svg>`,
      boldConfiguration: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.82 16"><g><path d="M14.1,9.56h0a1.39,1.39,0,0,1-.7-1.3V7.74a1.39,1.39,0,0,1,.7-1.29h0a1.41,1.41,0,0,0,.52-1.94l-.57-1a1.43,1.43,0,0,0-2-.52,1.39,1.39,0,0,1-1.47,0l-.45-.26a1.43,1.43,0,0,1-.77-1.26A1.43,1.43,0,0,0,8,0H6.83A1.42,1.42,0,0,0,5.41,1.42h0a1.4,1.4,0,0,1-.77,1.25c-.16.08-.3.17-.45.26A1.41,1.41,0,0,1,2.71,3h0A1.42,1.42,0,0,0,.77,3.5l-.58,1A1.42,1.42,0,0,0,.71,6.44h0a1.4,1.4,0,0,1,.71,1.3,4.34,4.34,0,0,0,0,.51A1.42,1.42,0,0,1,.71,9.55h0A1.42,1.42,0,0,0,.19,11.5l.58,1A1.42,1.42,0,0,0,2.71,13a1.41,1.41,0,0,1,1.48,0,4.83,4.83,0,0,0,.45.26,1.42,1.42,0,0,1,.77,1.26A1.42,1.42,0,0,0,6.83,16H8a1.43,1.43,0,0,0,1.43-1.42h0a1.4,1.4,0,0,1,.77-1.25l.44-.26a1.41,1.41,0,0,1,1.48,0h0a1.43,1.43,0,0,0,2-.52l.57-1A1.41,1.41,0,0,0,14.1,9.56ZM7.41,10a2,2,0,1,1,2-2A2,2,0,0,1,7.41,10Z"/></g></svg>`,
      boldFilter: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18"><g><path d="M4,8A4,4,0,0,0,7.87,5,.5.5,0,0,0,8,5H18a1,1,0,0,0,0-2H8a.5.5,0,0,0-.13,0A4,4,0,1,0,4,8Z"/><path d="M16,10a4,4,0,0,0-3.87,3A.5.5,0,0,0,12,13H2a1,1,0,0,0,0,2H12a.5.5,0,0,0,.13,0A4,4,0,1,0,16,10Z"/></g></svg>`,
      boldGridLayout: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><rect width="9" height="9" rx="2"/><rect x="11" width="9" height="9" rx="2"/><rect y="11" width="9" height="9" rx="2"/><rect x="11" y="11" width="9" height="9" rx="2"/></g></svg>`,
      boldLinearLayout: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 14"><g><rect width="10" height="14" rx="1"/><path d="M13,4h5a1,1,0,0,0,0-2H13a1,1,0,0,0,0,2Z"/><path d="M18,6H13a1,1,0,0,0,0,2h5a1,1,0,0,0,0-2Z"/><path d="M18,10H13a1,1,0,0,0,0,2h5a1,1,0,0,0,0-2Z"/></g></svg>`,
      boldNewTale: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><path d="M19.42,4.34,16.59,1.51A2,2,0,0,0,15.17.93a2,2,0,0,0-1.41.58L.93,14.35V20H6.58L19.41,7.17A2,2,0,0,0,19.42,4.34Z"/><path d="M3,5V7A1,1,0,0,0,5,7V5H7A1,1,0,0,0,7,3H5V1A1,1,0,0,0,3,1V3H1A1,1,0,0,0,1,5Z"/></g></svg>`,
      boldNotifications: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 20"><g><path d="M17.83,14.44l-.12-.15L16,12h0V8a7,7,0,0,0-5.15-6.75,2,2,0,0,0-3.7,0A7,7,0,0,0,2,8v4H2L.29,14.29l-.12.15A1,1,0,0,0,0,15a1,1,0,0,0,1,1H5a4,4,0,0,0,8,0h4a1,1,0,0,0,1-1A1,1,0,0,0,17.83,14.44ZM9,18a2,2,0,0,1-2-2h4A2,2,0,0,1,9,18Z"/></g></svg>`,
      boldOptions: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 20"><g><circle cx="2" cy="10" r="2"/><circle cx="2" cy="2" r="2"/><circle cx="2" cy="18" r="2"/></g></svg>`,
      boldPlus: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"><g><path d="M17.5,8H11V1.5a1.5,1.5,0,0,0-3,0V8H1.5a1.5,1.5,0,0,0,0,3H8v6.5a1.5,1.5,0,0,0,3,0V11h6.5a1.5,1.5,0,0,0,0-3Z"/></g></svg>`,
      boldSearch: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.5 20.5"><g><path d="M20.06,17.94l-4.49-4.49-.11-.08A8.42,8.42,0,0,0,17,8.5a8.51,8.51,0,1,0-3.63,7s.05.08.08.11l4.49,4.49a1.5,1.5,0,0,0,2.12,0A1.49,1.49,0,0,0,20.06,17.94ZM8.5,14A5.5,5.5,0,1,1,14,8.5,5.51,5.51,0,0,1,8.5,14Z"/></g></svg>`,
      boldUserProfile: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><circle cx="10" cy="8" r="4"/><path d="M20,10A10,10,0,1,0,3,17.14H3l.3.27c.12.11.24.23.37.33l.47.35.29.22.59.36.23.13c.22.12.45.23.68.33l.19.09c.24.1.49.19.74.27l.17.06c.26.08.51.14.77.2L8,19.8c.26.05.53.09.79.12L9,20c.34,0,.68.05,1,.05s.68,0,1-.05l.2,0c.26,0,.53-.07.79-.12l.19-.05c.26-.06.51-.12.77-.2l.17-.06c.25-.08.5-.17.74-.27l.19-.09c.23-.1.46-.21.68-.33l.23-.13.59-.36.29-.22.47-.35c.13-.1.25-.22.37-.33l.3-.27h0A10,10,0,0,0,20,10ZM10,13a7.94,7.94,0,0,0-5.8,2.5,8,8,0,1,1,11.6,0A7.94,7.94,0,0,0,10,13Z"/></g></svg>`,
    };
  },
};
</script>

<style lang="scss" scoped>
button {
  @include setTransition(all, 0.4s, ease);
  transition: all 0.4s ease;
  box-sizing: content-box;
  padding: 1.5ch;
}

.button-logo-default {
  background-color: transparent;
  fill: currentColor;
}

.button-logo-pinkred {
  background-color: transparent;
  fill: $pinkred;

  &:hover {
    fill: adjust-color($color: $pinkred, $lightness: 5%);
  }
}

.button-default {
  background-color: transparent;
  fill: currentColor;
}

.button-pinkred {
  border-radius: 100px;
  background-color: $pinkred;
  color: $white;
  fill: $white;

  &:hover {
    background-color: adjust-color($color: $pinkred, $lightness: 5%);
  }
}
</style>
