<template lang="pug">
  span.tag-default.cursor-pointer {{tag}}
</template>

<script>
export default {
  props: {
    tag: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
span {
  @include setFont('medium', 1);
  @include setTransition(all, 0.4s, ease);
  border-radius: 100px;
  padding: 0.5ch 1.5ch;
}

.tag-default {
  background-color: change-color($color: $pinkred, $alpha: 0.25);
  border: none;
  color: currentColor;
  line-height: 1.15;

  &:hover {
    background-color: change-color($color: $pinkred, $alpha: 0.35);
  }
}
</style>
