<template lang="pug">
  main
    TaleBig(:tale='tale' v-for="tale in tales" :key="tale.id" style="margin: 5rem 0;")
</template>

<script>
import Strapi from 'strapi-sdk-javascript/build/main';
import TaleBig from '../components/tale/TaleBig.vue';
import TaleSmall from '../components/tale/TaleSmall.vue';

const strapi = new Strapi(process.env.apiUrl);

export default {
  middleware: 'auth',
  layout: 'default',
  components: {
    TaleBig,
    TaleSmall,
  },
  data() {
    return {
      query: '',
      tales: [],
    };
  },
  async asyncData() {
    const response = await strapi.request('post', 'graphql', {
      data: {
        query: `query {
                  tales(sort: "id") {
                    id
                    title
                    titleId
                    user {
                      username
                      name
                    }
                    meta
                    description
                    age
                    hypertale
                    completed
                    image {
                      url
                    }
                    nodes {
                      name
                      isFirst
                    }
                  }
                }
                `,
      },
    });
    response.data.tales.forEach(tale => {
      if (tale.image !== null) {
        tale.image.url = `${process.env.apiUrl}${tale.image.url}`;
      }
    });
    return { tales: response.data.tales };
  },
};
</script>

<style lang="scss" scoped>
</style>
