<template lang="pug">
  main.flex.flex_item-f1.height-100vh.flex-column
    .flex_item-f1
    h2 Sign in
    .flex_item-f2.flex.flex-aic
      form.flex.flex_item-f1(v-if="!$auth.loggedIn" @submit.prevent="login" method="post")
        .flex_item-f1
        .flex.flex-column.flex_item-f3
          p(v-if="formError" class="error") {{ formError }}
          p Username or email
          input(v-model="formUsername" type="text" name="username")
          p.margin_top-100 Password
          input(v-model="formPassword" type="password" name="password")
          BaseButton.margin_top-200(:event="login" text="Sign in" form)
        .flex_item-f1
      .flex.flex-column.flex_item-f1(v-else)
        span
    .flex_item-f1
</template>

<script>
// import Strapi from 'strapi-sdk-javascript/build/main';
import BaseButton from '../components/base/BaseButton.vue';

// const strapi = new Strapi(process.env.apiUrl);

export default {
  layout: 'noNav',
  components: {
    BaseButton,
  },
  /* beforeCreate() {
    if (this.$auth.$storage.state.loggedIn) this.$router.push('/');
  }, */
  data() {
    return {
      formError: null,
      formUsername: '',
      formPassword: '',
    };
  },
  methods: {
    async login() {
      try {
        this.$auth.loginWith('strapi', {
          data: {
            identifier: this.formUsername,
            password: this.formPassword,
          },
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>
