<template lang="pug">
    .main
        editor-menu-bar(:editor="editor" v-slot="{ commands, isActive }")
            div
                button.margin-025(@click="commands.undo") Undo
                button.margin-025(@click="commands.redo") Redo
                button.margin-025(:class="{ 'is-active': isActive.heading({ level: 1 }) }" @click="commands.heading({ level: 1 })") H1
                button.margin-025(:class="{ 'is-active': isActive.heading({ level: 2 }) }" @click="commands.heading({ level: 2 })") H2
                button.margin-025(:class="{ 'is-active': isActive.heading({ level: 3 }) }" @click="commands.heading({ level: 3 })") H3
                button.margin-025(:class="{ 'is-active': isActive.paragraph() }" @click="commands.paragraph()") Paragraph
                button.margin-025(:class="{ 'is-active': isActive.bold() }" @click="commands.bold") Bold
                button.margin-025(:class="{ 'is-active': isActive.italic() }" @click="commands.italic") Italic
                button.margin-025(:class="{ 'is-active': isActive.strike() }" @click="commands.strike") Strike
                button.margin-025(:class="{ 'is-active': isActive.underline() }" @click="commands.underline") Underline
        editor-content(:editor="editor")
        input(v-for="nodetonode in node.nodetonodes" :id="nodetonode.id" v-model="nodetonode.text")
        //- select(v-for="nodetonode in node.nodetonodes" :id="nodetonode.id" v-model="nodetonode.id")
          option(v-for="nodetonode in node.nodetonodes" :id="nodetonode.id" v-model="nodetonode.id" :value="nodetonode.id") {{nodetonode.name}}
        button(@click="save()") Save
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from 'tiptap';
import {
  Blockquote,
  HardBreak,
  Heading,
  Bold,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from 'tiptap-extensions';

import Strapi from 'strapi-sdk-javascript/build/main';
import BaseButton from '../../../../../components/base/BaseButton.vue';
import BaseButtonIcon from '../../../../../components/base/BaseButtonIcon.vue';

const strapi = new Strapi(process.env.apiUrl);

export default {
  layout: 'noNav',
  components: {
    EditorContent,
    EditorMenuBar,
    BaseButton,
    BaseButtonIcon,
  },
  data() {
    return {
      editor: null,
      node: {},
      optionText: [],
      index: 0,
      nodeList: [],
    };
  },
  async asyncData({ params }) {
    const response = await strapi.request('post', 'graphql', {
      data: {
        query: `query {
                    nodes(where: {
                      name: ${params.node}
                      tale: {
                          titleId: ${params.tale}
                      }           
                    }) {
                        id
                        name
                        content
                        nodetonodes {
                          id
                          nodeFrom {
                            id
                            name
                          }
                          nodeTo {
                            id
                            name
                          }
                          text
                        }
                    }
                }
                `,
      },
    });
    /* const nodes = await strapi.request('post', 'graphql', {
      data: {
        query: `query {
                    nodes(where: {
                      tale: {
                          titleId: ${params.tale}
                      }
                    }) {
                        id
                        name
                    }
                }
                `,
      },
    }); */
    return {
      node: response.data.nodes[0],
      // nodeList: nodes.data.nodes,
    };
  },
  mounted() {
    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new Bold(),
        new Italic(),
        new Link(),
        new Strike(),
        new Underline(),
        new History(),
      ],
      content: this.node.content,
      onUpdate: ({ getJSON }) => {
        this.node.content = getJSON();
      },
    });
  },
  beforeDestroy() {
    this.editor.destroy();
  },
  methods: {
    async save() {
      console.log(
        `Àrray: ${this.node.nodetonodes}, Size: ${this.node.nodetonodes.length}`,
      );
      console.log(
        `Array: ${this.node.nodetonodes[this.index]}, Size: ${
          this.node.nodetonodes[this.index].text
        }`,
      );
      console.log(this.index);
      // eslint-disables-next-line
      let content = JSON.stringify(this.node.content);
      // eslint-disable-next-line
      content = content.replace(/\"([^(\")"]+)\":/g, '$1:');
      await strapi.request('post', 'graphql', {
        data: {
          query: `mutation {
                            updateNode(input: {
                              where: {
                                id: ${this.node.id}
                              }
                              data: {
                                content: ${content}
                              }
                            }) {
                              node {
                                id
                                name
                              }
                            }
                          }
                        `,
        },
      });

      if (this.index === this.node.nodetonodes.length - 1) {
        this.$router.go(-1);
        return;
      }
      await strapi
        .request('post', 'graphql', {
          data: {
            query: `mutation {
                      updateNodetonode(input: {
                        where: {
                          id: "${this.node.nodetonodes[this.index].id}"
                        }
                        data: {
                          text: "${this.node.nodetonodes[this.index].text}"
                        }
                      }) {
                        nodetonode {
                          id
                          text
                        }
                      }
                    }
                  `,
          },
        })
        // eslint-disable-next-line
        .catch(err => console.error(err));
      this.index += 1;
      await this.save();
      // eslint-disable-next-line
      // await Promise.all(
      // eslint-disable-next-line
      // this.node.nodetonodes
      // eslint-disable-next-line
      /* .map(async nodetonode => {
            await this.ntn(nodetonode);
          }), */
      // eslint-disable-next-line
      /* .concat(async content => {
            return new Promise(resolve => {
              // eslint-disable-next-line
              content = JSON.stringify(this.node.content);
              // eslint-disable-next-line
              content = content.replace(/\"([^(\")"]+)\":/g, '$1:');
              resolve(
                strapi.request('post', 'graphql', {
                  data: {
                    query: `mutation {
                            updateNode(input: {
                              where: {
                                id: ${this.node.id}
                              }
                              data: {
                                content: ${content}
                              }
                            }) {
                              node {
                                id
                                name
                              }
                            }
                          }
                        `,
                  },
                }),
              );
            });
          }) */
      // )
      // .then(res => {
      //   console.log(res);

      //   // this.$router.go(-1);
      // })
      // .catch(err => console.log(err));
    },
    // eslint-disable-next-line
    async ntn(array, index) {
      await console.log(
        `Text: ${array[this.index].text}, Id: ${array[this.index].id}`,
      );
      if (this.index === array.length - 1) return;
      await strapi
        .request('post', 'graphql', {
          data: {
            query: `mutation {
                      updateNodetonode(input: {
                        where: {
                          id: "${array[this.index].id}"
                        }
                        data: {
                          text: "${array[this.index].text}"
                        }
                      }) {
                        nodetonode {
                          id
                          text
                        }
                      }
                    }
                  `,
          },
        })
        // eslint-disable-next-line
        .then(async i => {
          await this.ntn(array, this.index + 1);
        })
        .catch(err => console.error(err));
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
