<template lang="pug">
    .main
        editor-content(:editor="editor")
        nuxt-link(v-for="nodetonode in node.nodetonodes" :key="nodetonode.id" :to="nodeTo(nodetonode.nodeTo.name)")
          BaseButton.margin_bottom-100(:text="nodetonode.text")
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from 'tiptap';
import {
  Blockquote,
  HardBreak,
  Heading,
  Bold,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from 'tiptap-extensions';

import Strapi from 'strapi-sdk-javascript/build/main';
import BaseButton from '../../../../../components/base/BaseButton.vue';

const strapi = new Strapi(process.env.apiUrl);

export default {
  layout: 'profile',
  components: {
    EditorContent,
    EditorMenuBar,
    BaseButton,
  },
  data() {
    return {
      editor: null,
      node: {},
      optionText: [],
    };
  },
  methods: {
    nodeTo(name) {
      return `/${this.$route.params.user}/${this.$route.params.tale}/read/${name}`;
    },
  },
  async asyncData({ params }) {
    const response = await strapi.request('post', 'graphql', {
      data: {
        query: `query {
                    nodes(where: {
                      name: ${params.node}
                      tale: {
                          titleId: ${params.tale}
                      }           
                    }) {
                        id
                        name
                        content
                        nodetonodes {
                          id
                          nodeFrom {
                            name
                          }
                          nodeTo {
                            name
                          }
                          text
                        }
                    }
                }
                `,
      },
    });
    return {
      node: response.data.nodes[0],
    };
  },
  mounted() {
    this.editor = new Editor({
      editable: false,
      extensions: [
        new Blockquote(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new Bold(),
        new Italic(),
        new Link(),
        new Strike(),
        new Underline(),
        new History(),
      ],
      content: this.node.content,
      onUpdate: ({ getJSON }) => {
        this.node.content = getJSON();
      },
    });
  },
  beforeDestroy() {
    this.editor.destroy();
  },
};
</script>

<style lang="scss" scoped>
</style>
