<template lang="pug">
  div
    BaseNav(logo)
    .flex
      .flex_item-f1
      .flex_item-f5.flex.flex-jcc
        nuxt
      .flex_item-f1
</template>

<script>
import BaseNav from '../components/base/BaseNav.vue';

export default {
  components: {
    BaseNav,
  },
};
</script>


<style>
</style>
