<template lang="pug">
  .main
    EditorWrapper(:nodes="nodes")
</template>

<script>
import Strapi from 'strapi-sdk-javascript/build/main';
import EditorWrapper from '../../../../components/editor/EditorWrapper.vue';

const strapi = new Strapi(process.env.apiUrl);

export default {
  layout: 'noNav',
  components: {
    EditorWrapper,
  },
  data() {
    return {
      nodes: [],
    };
  },
  async asyncData({ params }) {
    const response = await strapi.request('post', 'graphql', {
      data: {
        query: `query {
                    nodes(where: {
                      tale: {
                          titleId: ${params.tale}
                      }           
                    }) {
                        id
                        name
                        content
                        positionX
                        positionY
                        tale {
                          titleId
                          user {
                            username
                          }
                        }
                    }
                }
                `,
      },
    });
    return {
      nodes: response.data.nodes,
    };
  },
};
</script>

<style lang="scss" scoped>
.main {
  width: 100%;
  height: 100%;
}
</style>
