<template lang="pug">
    span {{user.name}}
</template>

<script>
import Strapi from 'strapi-sdk-javascript/build/main';

const strapi = new Strapi(process.env.apiUrl);

export default {
  middleware: 'auth',
  data() {
    return {
      user: {},
    };
  },
  async asyncData({ params }) {
    const response = await strapi.request('post', 'graphql', {
      data: {
        query: `query {
                  users(where: {
                    username: ${params.user}
                  }) {
                    id
                    username
                    name
                    email
                    tales {
                      title
                    }
                  }
                }
                `,
      },
    });
    return { user: response.data.users[0] };
  },
};
</script>

<style lang="scss" scoped>
</style>
