<template lang="pug">
    .node.flex.flex-column.padding-100.bg-white
        h6 {{ node.name }}
        nuxt-link(:to="nodeLink") Edit node
</template>

<script>
export default {
  props: {
    node: Object,
  },
  data() {
    return {
      nodeLink: `/${this.node.tale.user.username}/${this.node.tale.titleId}/write/${this.node.name}`,
    };
  },
};
</script>

<style lang="scss" scoped>
.node {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid change-color($color: $pureblack, $alpha: 0.25);
  @include setShadow(
    0px,
    10px,
    50px,
    -20px,
    change-color($color: $pureblack, $alpha: 0.25)
  );
}
</style>
