<template lang="pug">
    .wrapper.position-relative
      .canvas.position-absolute
        VueDraggableResizable.flex.flex-jcc.flex-aic(@dragging="onDrag" :parent="false" :x="node.positionX" :y="node.positionY" :w ="200" :h="200" v-for="node in nodes" :key="node.id")
          EditorNode(:node="node")
</template>

<script>
import VueDraggableResizable from 'vue-draggable-resizable';
import EditorNode from './EditorNode.vue';

export default {
  components: {
    EditorNode,
    VueDraggableResizable,
  },
  props: {
    nodes: Array,
  },
  methods: {
    onDrag(x, y) {
      console.log(`X: ${x}, Y: ${y}`);
      this.x = x;
      this.y = y;
    },
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  height: 100vh;
}
</style>
