@mixin setFont($weight, $size, $family: unset, $style: normal) {
  font-family: $family;
  font-style: normal;
  font-size: 1rem * $size;
  @if $weight == 'thin' {
    font-weight: 100;
  }
  @if $weight == 'extralight' {
    font-weight: 200;
  }
  @if $weight == 'light' {
    font-weight: 300;
  }
  @if $weight == 'regular' {
    font-weight: 400;
  }
  @if $weight == 'medium' {
    font-weight: 500;
  }
  @if $weight == 'semibold' {
    font-weight: 600;
  }
  @if $weight == 'bold' {
    font-weight: 700;
  }
  @if $weight == 'extrabold' {
    font-weight: 800;
  }
  @if $weight == 'black' {
    font-weight: 900;
  }
}

@mixin setShadow($x, $y, $b, $s, $color) {
  -webkit-box-shadow: $x $y $b $s $color;
  -moz-box-shadow: $x $y $b $s $color;
  -ms-box-shadow: $x $y $b $s $color;
  -o-box-shadow: $x $y $b $s $color;
  box-shadow: $x $y $b $s $color;
}

@mixin setTransition($property, $duration, $timing, $delay: 0s) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
  -webkit-transition-timing-function: $timing;
  -moz-transition-timing-function: $timing;
  -ms-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  transition-timing-function: $timing;
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -ms-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}