<template lang="pug">
    .flex.flex-wrap
        nuxt-link.margin_right-300(:to="taleLink")
          BaseCoverPage(big :image="getImg()")
        .flex.flex-column.flex_item-f1.margin_top-150.margin_bottom-150.tale_content
          .flex.flex-column
            nuxt-link(:to="taleLink")
              h3 {{tale.title}}
            nuxt-link(:to="userLink")
              span by {{tale.user.name}}
          .flex.flex-column.flex_item-f2.margin_top-150
            .flex.flex-wrap
              BaseTaleType.margin-025.margin_right-050.margin_left-000(big :age="tale.age")
              BaseTaleType.margin-025.margin_right-050.margin_left-000(big :hypertale="tale.hypertale")
              BaseTaleType.margin-025.margin_right-050.margin_left-000(big :completed="tale.completed")
              BaseTag.margin-025.margin_right-050.margin_left-000(v-for="tag in tale.meta.tags" :tag="tag")
            p.margin_top-150.margin_bottom-150 {{description}}
          .flex
            nuxt-link.flex_item-f1.margin_right-100.flex(:to="taleLink")
              BaseButton.flex_item-f1(text = 'Read')
            nuxt-link(:to="writeLink")
              BaseButtonIcon(type="bold" icon="plus" pinkred small)
            BaseButtonIcon(type="bold" icon="options" small)
</template>

<script>
import BaseButton from '../base/BaseButton.vue';
import BaseButtonIcon from '../base/BaseButtonIcon.vue';
import BaseCoverPage from '../base/BaseCoverPage.vue';
import BaseTag from '../base/BaseTag.vue';
import BaseTaleType from '../base/BaseTaleType.vue';

export default {
  components: {
    BaseButton,
    BaseButtonIcon,
    BaseCoverPage,
    BaseTag,
    BaseTaleType,
  },
  props: {
    tale: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      taleLink: `/${this.tale.user.username}/${
        this.tale.titleId
      }/read/${this.firstNode()}`,
      writeLink: `/${this.tale.user.username}/${this.tale.titleId}/write`,
      userLink: `/${this.tale.user.username}`,
    };
  },
  computed: {
    description() {
      if (this.tale.description.length < 250) return this.tale.description;
      return `${this.tale.description.slice(0, 250)}...`;
    },
  },
  methods: {
    getImg() {
      if (this.tale.image !== null) return this.tale.image.url;
      return undefined;
    },
    firstNode() {
      let name = 'false';
      this.tale.nodes.forEach(node => {
        if (node.isFirst) {
          // eslint-disable-next-line
          name = node.name;
        }
      });
      return name;
    },
  },
};
</script>

<style lang="scss" scoped>
.tale_content {
  min-width: 400px;
  max-width: 600px;
}
/*.description {
  max-height: 50px;
  overflow: hidden;
}

.description-gradient {
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 25px, $black);
  }
}*/
</style>
