<template lang="pug">
    .flex.flex-column.flex-wrap.flex-aifs
        nuxt-link(:to="taleLink")
          BaseCoverPage(small :image="getImg()")
        .flex.flex-column.flex_item-f1
            .flex.margin_top-050.margin_bottom-050
                BaseTaleType.margin_right-025(small :age="tale.age")
                BaseTaleType.margin_right-025(small :hypertale="tale.hypertale")
                BaseTaleType(small :completed="tale.completed")
            nuxt-link(:to="taleLink")
              h5 {{tale.title}}
</template>

<script>
import BaseCoverPage from '../base/BaseCoverPage.vue';
import BaseTaleType from '../base/BaseTaleType.vue';

export default {
  components: {
    BaseCoverPage,
    BaseTaleType,
  },
  props: {
    tale: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      taleLink: `/${this.tale.user.username}/${this.tale.titleId}`,
      userLink: `/${this.tale.user.username}`,
    };
  },
  methods: {
    getImg() {
      if (this.tale.image !== null) return this.tale.image.url;
      return undefined;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
